{
  "extends": "standard",
  "rules": {
    "semi": 2,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    //    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "react/prefer-stateless-function": 0,
    "no-unused-vars": 0
  }
}
